# ==========================================
# Archivos temporales y auxiliares de LaTeX
# ==========================================
*.aux
*.bcf
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.log
*.out
*.toc
*.lof
*.lot
*.run.xml

# ==========================================
# Archivos temporales de Bibliografía (BibTeX / Biber)
# ==========================================
*.bbl
*.blg
*-blx.bib

# ==========================================
# Otros temporales de compilación
# ==========================================
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb

# ==========================================
# Archivos de salida (PDF local)
# ==========================================
*.pdf

# ==========================================
# Configuración local de IDEs y Entornos
# ==========================================
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db