# Archivos temporales de LaTeX
*.aux
*.bcf
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.log
*.out
*.toc
*.lof
*.lot
*.run.xml

# Excluir PDF generado localmente
*.pdf

# Configuración local de VS Code
.vscode/